$default-purple: #472183;
$default-dark-blue: #4B56D2;
$default-light-blue: #82C3EC;
$default-white: #F1F6F5;
$default-black: black;

$left-side-size: 400px;
$right-side-size: 500px;
$left-margin: 30px;

$card-border-radius: 12px;

.text {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}
.text-header {
  padding: 10px 30px;
  font-size: 1.2em;
  font-weight: bold;
  color: $default-dark-blue;
}
.text-header-big
{
  font-size: 3em;
  margin: auto;
}

.md-img {
  width: 80%;
  height: auto;
  margin-left: 10%;
}
.md-img-icon {
  width: 30%;
  margin-left: 0;
}
